In [5]:
import pandas as pd

# Replace these with your actual Excel file path
excel_file = 'Destatis_Germany Population Historics and Forecasts.xlsx'

# Define sheet names
forecast_sheet = 'Bev√∂lkerung forecasts_ALL VAR'
historical_sheet = 'Bev√∂lkerung historics_per BL'

In [9]:
def inspect_excel_sheet(file_path, sheet_name, label):
    print(f"\n--- Inspecting Sheet: {label} ({sheet_name}) ---")

    try:
        df = pd.read_excel(file_path, sheet_name=sheet_name, header=None)
    except Exception as e:
        print(f"‚ùå Error reading '{sheet_name}' from '{file_path}': {e}")
        return

    print(f"\n‚úÖ Sheet loaded: {sheet_name} ‚Äî Shape: {df.shape}")
    
    print("\nüîç First 15 Raw Rows (including metadata, if any):")
    print(df.head(15).to_string(index=False, header=False))

In [10]:
# Inspect both sheets
inspect_excel_sheet(excel_file, forecast_sheet, "Forecast Population Data")

--- Inspecting Sheet: Forecast Population Data (Bev√∂lkerung forecasts_ALL VAR) ---

‚úÖ Sheet loaded: Bev√∂lkerung forecasts_ALL VAR ‚Äî Shape: (8905, 102)

üîç First 15 Raw Rows (including metadata, if any):
Vorausberechneter Bev√∂lkerungsstand: Deutschland, Stichtag,\nVarianten der Bev√∂lkerungsvorausberechnung, Geschlecht,\nAltersjahre                                          NaN      NaN          NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN
                                                                                                                              NaN                                          NaN      NaN          NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN
                                                                                                                              NaN                                          NaN      NaN          NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN
                                                                                                                              NaN                                          NaN      NaN          NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN
                                                              Varianten der Bev√∂lkerungsvorausberechnung\nGeschlecht\nAltersjahre                                          NaN      NaN          NaN       2022 NaN       2023 NaN       2024 NaN       2025 NaN       2026 NaN       2027 NaN       2028 NaN       2029 NaN       2030 NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN
                                                                                                                              NaN                                          NaN      NaN          NaN 31.12.2022 NaN 31.12.2023 NaN 31.12.2024 NaN 31.12.2025 NaN 31.12.2026 NaN 31.12.2027 NaN 31.12.2028 NaN 31.12.2029 NaN 31.12.2030 NaN 31.12.2031 NaN 31.12.2032 NaN 31.12.2033 NaN 31.12.2034 NaN 31.12.2035 NaN 31.12.2036 NaN 31.12.2037 NaN 31.12.2038 NaN 31.12.2039 NaN 31.12.2040 NaN 31.12.2041 NaN 31.12.2042 NaN 31.12.2043 NaN 31.12.2044 NaN 31.12.2045 NaN 31.12.2046 NaN 31.12.2047 NaN 31.12.2048 NaN 31.12.2049 NaN 31.12.2050 NaN 31.12.2051 NaN 31.12.2052 NaN 31.12.2053 NaN 31.12.2054 NaN 31.12.2055 NaN 31.12.2056 NaN 31.12.2057 NaN 31.12.2058 NaN 31.12.2059 NaN 31.12.2060 NaN 31.12.2061 NaN 31.12.2062 NaN 31.12.2063 NaN 31.12.2064 NaN 31.12.2065 NaN 31.12.2066 NaN 31.12.2067 NaN 31.12.2068 NaN 31.12.2069 NaN 31.12.2070 NaN
                                                                                                                  BEV-VARIANTE-01 Geburten und LE moderat, WS niedrig (G2L2W1)      NaN          NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN        NaN NaN
                                                                                                                  BEV-VARIANTE-01                                          NaN m√§nnlich unter 1 Jahr      385.8   e      388.5   e      388.8   e      388.6   e      387.9   e      386.6   e      384.8   e      382.5   e      379.7   e      376.4   e      372.7   e      368.7   e      364.7   e      361.1   e      357.9   e      355.2   e        353   e      351.3   e      350.2   e      349.7   e      349.7   e      350.1   e      350.9   e        352   e      353.1   e      354.2   e        355   e      355.5   e      355.6   e      355.4   e      354.7   e      353.7   e      352.3   e      350.6   e      348.8   e      346.7   e      344.6   e      342.4   e      340.2   e        338   e      335.8   e      333.6   e      331.5   e      329.4   e      327.5   e      325.6   e      323.8   e      322.2   e      320.8   e
                                                                                                                              NaN                                          NaN m√§nnlich    1-J√§hrige      413.9   e      387.8   e      390.5   e      390.6   e      390.3   e      389.5   e      388.1   e      386.2   e      383.9   e        381   e      377.6   e      373.8   e      369.8   e      365.7   e      362.1   e        359   e      356.3   e      354.1   e      352.4   e      351.3   e      350.8   e      350.8   e      351.2   e      352.1   e      353.1   e      354.2   e      355.3   e      356.1   e      356.6   e      356.8   e      356.5   e      355.8   e      354.8   e      353.4   e      351.8   e      349.9   e      347.9   e      345.7   e      343.5   e      341.3   e      339.1   e      336.9   e      334.8   e      332.7   e      330.6   e      328.6   e      326.7   e        325   e      323.4   e
                                                                                                                              NaN                                          NaN m√§nnlich    2-J√§hrige      409.6   e        416   e      389.8   e      392.3   e      392.3   e      391.9   e      391.1   e      389.5   e      387.6   e      385.1   e      382.1   e      378.7   e      374.9   e      370.8   e      366.8   e      363.2   e      360.1   e      357.4   e      355.2   e      353.5   e      352.4   e      351.9   e      351.9   e      352.3   e      353.2   e      354.2   e      355.3   e      356.4   e      357.2   e      357.7   e      357.9   e      357.6   e      356.9   e      355.9   e      354.5   e      352.9   e        351   e        349   e      346.8   e      344.6   e      342.4   e      340.2   e        338   e      335.9   e      333.8   e      331.7   e      329.7   e      327.8   e      326.1   e
                                                                                                                              NaN                                          NaN m√§nnlich    3-J√§hrige      413.3   e      411.8   e      417.9   e      391.5   e      393.9   e      393.9   e      393.4   e      392.4   e      390.8   e      388.8   e      386.2   e      383.2   e      379.7   e      375.9   e      371.9   e      367.9   e      364.3   e      361.1   e      358.4   e      356.2   e      354.6   e      353.5   e      352.9   e      352.9   e      353.4   e      354.2   e      355.3   e      356.4   e      357.4   e      358.3   e      358.8   e      358.9   e      358.7   e        358   e      356.9   e      355.6   e      353.9   e        352   e        350   e      347.9   e      345.7   e      343.5   e      341.3   e      339.1   e      336.9   e      334.8   e      332.8   e      330.8   e      328.9   e
                                                                                                                              NaN                                          NaN m√§nnlich    4-J√§hrige        421   e      415.6   e      413.7   e      419.7   e      393.2   e      395.5   e      395.4   e      394.8   e      393.8   e      392.1   e      389.9   e      387.3   e      384.3   e      380.8   e        377   e      372.9   e      368.9   e      365.3   e      362.2   e      359.5   e      357.3   e      355.6   e      354.6   e        354   e        354   e      354.5   e      355.3   e      356.3   e      357.5   e      358.5   e      359.3   e      359.9   e        360   e      359.7   e      359.1   e        358   e      356.7   e        355   e      353.1   e      351.1   e        349   e      346.8   e      344.5   e      342.4   e      340.2   e        338   e      335.9   e      333.9   e      331.9   e
                                                                                                                              NaN                                          NaN m√§nnlich    5-J√§hrige      425.7   e      423.3   e      417.6   e      415.5   e      421.4   e      394.8   e        397   e      396.8   e      396.1   e        395   e      393.2   e        391   e      388.3   e      385.3   e      381.8   e        378   e        374   e        370   e      366.4   e      363.2   e      360.5   e      358.3   e      356.7   e      355.6   e      355.1   e        355   e      355.5   e      356.3   e      357.4   e      358.5   e      359.6   e      360.4   e      360.9   e        361   e      360.8   e      360.1   e      359.1   e      357.7   e      356.1   e      354.2   e      352.1   e        350   e      347.8   e      345.6   e      343.4   e      341.2   e      339.1   e        337   e      334.9   e
                                                                                                                              NaN                                          NaN m√§nnlich    6-J√§hrige        428   e        428   e      425.1   e      419.1   e      416.9   e      422.7   e      396.1   e      398.2   e      397.9   e      397.2   e        396   e      394.1   e      391.9   e      389.2   e      386.2   e      382.7   e      378.9   e      374.9   e      370.9   e      367.3   e      364.1   e      361.5   e      359.3   e      357.6   e      356.5   e        356   e      355.9   e      356.4   e      357.2   e      358.3   e      359.4   e      360.5   e      361.3   e      361.8   e        362   e      361.7   e        361   e        360   e      358.6   e        357   e      355.1   e      353.1   e      350.9   e      348.7   e      346.5   e      344.3   e      342.1   e        340   e      337.9   e
                                                                                                                              NaN                                          NaN m√§nnlich    7-J√§hrige      416.5   e      430.5   e        430   e      426.9   e      420.7   e      418.4   e      424.2   e      397.4   e      399.5   e      399.1   e      398.3   e        397   e      395.1   e      392.9   e      390.3   e      387.2   e      383.8   e        380   e      375.9   e      371.9   e      368.3   e      365.2   e      362.5   e      360.3   e      358.6   e      357.5   e        357   e        357   e      357.4   e      358.3   e      359.3   e      360.5   e      361.5   e      362.3   e      362.9   e        363   e      362.7   e      362.1   e        361   e      359.7   e        358   e      356.1   e      354.1   e        352   e      349.8   e      347.6   e      345.4   e      343.2   e        341   e

In [11]:
inspect_excel_sheet(excel_file, historical_sheet, "Historical Population Data")

--- Inspecting Sheet: Historical Population Data (Bev√∂lkerung historics_per BL) ---

‚úÖ Sheet loaded: Bev√∂lkerung historics_per BL ‚Äî Shape: (1034, 18)

üîç First 15 Raw Rows (including metadata, if any):
Bev√∂lkerung: Bundesl√§nder, Stichtag, Altersjahre               NaN    NaN    NaN         NaN    NaN     NaN    NaN                    NaN           NaN                 NaN             NaN      NaN     NaN            NaN                NaN       NaN                                                                                                      NaN
          Fortschreibung des Bev√∂lkerungsstandes               NaN    NaN    NaN         NaN    NaN     NaN    NaN                    NaN           NaN                 NaN             NaN      NaN     NaN            NaN                NaN       NaN https://www-genesis.destatis.de/genesis/online?sequenz=statistikTabellen&selectionname=12411#abreadcrumb
                      Bev√∂lkerungsstand (Anzahl)               NaN    NaN    NaN         NaN    NaN     NaN    NaN                    NaN           NaN                 NaN             NaN      NaN     NaN            NaN                NaN       NaN                                                                                      Tabelle: 12411-0012
                                     Altersjahre      Bundesl√§nder    NaN    NaN         NaN    NaN     NaN    NaN                    NaN           NaN                 NaN             NaN      NaN     NaN            NaN                NaN       NaN                                                                                                      NaN
                                             NaN Baden-W√ºrttemberg Bayern Berlin Brandenburg Bremen Hamburg Hessen Mecklenburg-Vorpommern Niedersachsen Nordrhein-Westfalen Rheinland-Pfalz Saarland Sachsen Sachsen-Anhalt Schleswig-Holstein Th√ºringen                                                                                                 In total
                                      31.12.2010               NaN    NaN    NaN         NaN    NaN     NaN    NaN                    NaN           NaN                 NaN             NaN      NaN     NaN            NaN                NaN       NaN                                                                                                      NaN
                                    unter 1 Jahr             90868 106070  33172       19108   5517   17086  51737                  13325         63192              146941           31604     7064   35065          17323              22622     17539                                                                                                   678233
                                       1-J√§hrige             90592 105199  32161       19096   5393   16274  51050                  13055         63045              145733           31153     6963   34233          17186              22526     16955                                                                                                   670614
                                       2-J√§hrige             93067 107920  31858       19781   5410   16206  52232                  13159         65818              151417           32750     7209   34579          17743              23461     17508                                                                                                   690118
                                       3-J√§hrige             94108 108747  30876       19673   5435   16168  52987                  12832         66409              151652           32879     7242   33855          17296              23949     17080                                                                                                   691188
                                       4-J√§hrige             93277 106975  29213       19065   5338   15349  51587                  12579         66341              150615           32306     7202   32440          16649              23736     16295                                                                                                   678967
                                       5-J√§hrige             95374 109479  28030       19142   5208   15335  53159                  12156         68270              153856           33174     7480   32382          16830              24087     16539                                                                                                   690501
                                       6-J√§hrige             97832 111736  27903       19695   5174   14990  53893                  12852         71546              158190           34164     7674   32915          16852              25355     16998                                                                                                   707769
                                       7-J√§hrige             98381 112894  26727       19714   5215   14639  53534                  12612         72026              159969           34859     7643   31804          16401              25542     16625                                                                                                   708585
                                       8-J√§hrige            100629 114756  26677       19457   5152   14508  54648                  12341         74947              164132           35648     8024   31273          16966              26217     16604                                                                                                   721979

In [22]:
import pandas as pd
from googletrans import Translator
import re
import numpy as np

In [26]:
df = pd.read_excel(excel_file, forecast_sheet, header=None)  # Use header=None if there is no header row

# Assume the first column (column 0) contains 'm√§nnlich', 'weiblich', 'Insgesamt', or is blank
keep_rows = []
current_mode = None  # Can be 'keep' or 'skip'

for _, row in df.iterrows():
    first_cell = str(row.iloc[2]).strip().lower()

    if first_cell == 'insgesamt':
        current_mode = 'keep'
        keep_rows.append(True)
    elif first_cell in ['m√§nnlich', 'weiblich']:
        current_mode = 'skip'
        keep_rows.append(False)
    else:
        # If the first cell is empty, continue current mode
        keep_rows.append(current_mode == 'keep')

# Filter and save the result
filtered_df = df[pd.Series(keep_rows)].reset_index(drop=True)
filtered_df.to_excel("only_insgesamt.xlsx", index=False, header=False)

print("Filtered to keep only 'Insgesamt' blocks.")

Filtered to keep only 'Insgesamt' blocks.

In [27]:
print(filtered_df)

                                                    0    1          2    \
0                                                   NaN  NaN  Insgesamt
1                                                   NaN  NaN  Insgesamt
2                                                   NaN  NaN  Insgesamt
3                                                   NaN  NaN  Insgesamt
4                                                   NaN  NaN  Insgesamt
...                                                 ...  ...        ...
2977                                    danach konstant  NaN        NaN
2978  W3: R√ºckgang von 1,5 Mill. in 2022 auf 350.000...  NaN        NaN
2979                                    danach konstant  NaN        NaN
2980    W0: Wanderungssaldo Null (keine Au√üenwanderung)  NaN        NaN
2981  ¬© Statistisches Bundesamt (Destatis), 2025 | S...  NaN        NaN

               3      4    5      6    7      8    9    ...    92   93   \
0     unter 1 Jahr    752    e  757.4    e  757.9    e  ...  638.3    e
1        1-J√§hrige  806.5    e  755.9    e  761.2    e  ...  644.5    e
2        2-J√§hrige  796.8    e  810.5    e  759.8    e  ...  650.8    e
3        3-J√§hrige  805.7    e  800.8    e  814.3    e  ...  657.1    e
4        4-J√§hrige  820.9    e  809.9    e  804.7    e  ...  663.4    e
...            ...    ...  ...    ...  ...    ...  ...  ...    ...  ...
2977           NaN    NaN  NaN    NaN  NaN    NaN  NaN  ...    NaN  NaN
2978           NaN    NaN  NaN    NaN  NaN    NaN  NaN  ...    NaN  NaN
2979           NaN    NaN  NaN    NaN  NaN    NaN  NaN  ...    NaN  NaN
2980           NaN    NaN  NaN    NaN  NaN    NaN  NaN  ...    NaN  NaN
2981           NaN    NaN  NaN    NaN  NaN    NaN  NaN  ...    NaN  NaN

        94   95     96   97     98   99     100  101
0     634.6    e  631.2    e  628.1    e  625.3    e
1     640.7    e    637    e  633.5    e  630.4    e
2     646.8    e  642.9    e  639.2    e  635.8    e
3       653    e    649    e  645.1    e  641.4    e
4     659.2    e  655.1    e  651.1    e  647.3    e
...     ...  ...    ...  ...    ...  ...    ...  ...
2977    NaN  NaN    NaN  NaN    NaN  NaN    NaN  NaN
2978    NaN  NaN    NaN  NaN    NaN  NaN    NaN  NaN
2979    NaN  NaN    NaN  NaN    NaN  NaN    NaN  NaN
2980    NaN  NaN    NaN  NaN    NaN  NaN    NaN  NaN
2981    NaN  NaN    NaN  NaN    NaN  NaN    NaN  NaN

[2982 rows x 102 columns]

In [ ]:
subset = df.iloc[6:, [0, 1]].dropna()  # Drop any rows with NaN in either column

# Step 2: Filter out rows where either column is empty after stripping
subset = subset[(subset[0].astype(str).str.strip() != '') & (subset[1].astype(str).str.strip() != '')]

# Step 3: Drop duplicates to get unique pairs
unique_pairs = subset.drop_duplicates().reset_index(drop=True)

# Print for debug
print("Unique (col0, col1) pairs:")
print(unique_pairs)

# Step 4: Create a new DataFrame from the original one (or a different one)
# For demonstration, let's assume we're copying from the original file

Unique (col0, col1) pairs:
                  0                                                  1
0   BEV-VARIANTE-01       Geburten und LE moderat, WS niedrig (G2L2W1)
1   BEV-VARIANTE-02               Geburten, LE und WS moderat (G2L2W2)
2   BEV-VARIANTE-03          Geburten und LE moderat, WS hoch (G2L2W3)
3   BEV-VARIANTE-04                  Relativ alte Bev√∂lkerung (G1L3W1)
4   BEV-VARIANTE-05                 Relativ junge Bev√∂lkerung (G3L1W3)
5   BEV-VARIANTE-06               Niedrige Geburtenh√§ufigkeit (G1L2W2)
6   BEV-VARIANTE-07                   Hohe Geburtenh√§ufigkeit (G3L2W2)
7   BEV-VARIANTE-08      Geringe Steigung der Lebenserwartung (G2L1W2)
8   BEV-VARIANTE-09       Starke Steigung der Lebenserwartung (G2L3W2)
9   BEV-VARIANTE-10                       Bev√∂lkerungsminimum (G1L1W1)
10  BEV-VARIANTE-11                       Bev√∂lkerungsmaximum (G3L3W3)
11  BEV-VARIANTE-12  Geburten niedrig, LE moderat, WS niedrig (G1L2W1)
12  BEV-VARIANTE-13            Lebenserwartung und WS niedrig (G2L1W1)
13  BEV-VARIANTE-14          Lebenserwartung hoch, WS niedrig (G2L3W1)
14  BEV-VARIANTE-15     Geburten niedrig, LE geringer Anstieg (G1L1W2)
15  BEV-VARIANTE-16      Geburten niedrig, LE starker Anstieg (G1L3W2)
16  BEV-VARIANTE-17        Geburten hoch, LE geringer Anstieg (G3L1W2)
17  BEV-VARIANTE-18         Geburten hoch, LE starker Anstieg (G3L3W2)
18  BEV-VARIANTE-19              LE geringer Anstieg, WS hoch (G2L1W3)
19  BEV-VARIANTE-20               Lebenserwartung und WS hoch (G2L3W3)
20  BEV-VARIANTE-21         Geburten und Wanderungssaldo hoch (G3L2W3)
21    BEV-MODELL-01    Geb. hoch, WS niedrig, LE ger. Anstieg (G3L1W1)
22    BEV-MODELL-02    Geb. hoch, WS niedrig, LE mod. Anstieg (G3L2W1)
23    BEV-MODELL-03  Geb. hoch, WS niedrig,LE starker Anstieg (G3L3W1)
24    BEV-MODELL-04  Geb. niedrig, WS hoch,LE geringer Anstieg (G1L...
25    BEV-MODELL-05    Geb. niedrig, WS hoch, LE mod. Anstieg (G1L2W3)
26    BEV-MODELL-06  Geb. niedrig, WS hoch,LE starker Anstieg (G1L3W3)
27    BEV-MODELL-07          Geburten und LE moderat, WS Null (G2L2W0)
28    BEV-MODELL-08               2,1 Kinder je Frau, WS Null (GRL2W0)
Done! File saved as 'updated_with_unique_pairs.xlsx'.

In [33]:
new_df = pd.read_excel("only_insgesamt.xlsx", header=None)

In [34]:
# Step 5: Insert the unique pairs only into rows where column 2 == 'Insgesamt'
target_rows = new_df[2].astype(str).str.strip().str.lower() == 'insgesamt'

# Make sure the number of "Insgesamt" rows is at least the number of unique pairs
insgesamt_indices = new_df[target_rows].index.tolist()
num_to_insert = min(len(unique_pairs), len(insgesamt_indices))

# Step 6: Insert the values
for i in range(num_to_insert):
    new_df.at[insgesamt_indices[i], 0] = unique_pairs.iloc[i, 0]
    new_df.at[insgesamt_indices[i], 1] = unique_pairs.iloc[i, 1]

# Save to Excel
new_df.to_excel("updated_with_unique_pairs.xlsx", index=False, header=False)

print("Done! File saved as 'updated_with_unique_pairs.xlsx'.")

C:\Users\Usaid\AppData\Local\Temp\ipykernel_14576\3692631689.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Geburten und LE moderat, WS niedrig (G2L2W1)' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  new_df.at[insgesamt_indices[i], 1] = unique_pairs.iloc[i, 1]

Done! File saved as 'updated_with_unique_pairs.xlsx'.

In [40]:
# Starting from column index 5
start_idx = 5
columns_to_check = new_df.columns[start_idx:]

# Identify columns with even *position* from that point (i.e., idx 0, 2, 4 from the start_idx)
even_positioned_columns = [
    col for i, col in enumerate(columns_to_check)
    if i % 2 == 0  # relative to start_idx
]

# Drop them
new_df_cleaned = new_df.drop(columns=even_positioned_columns)

# Save the result
new_df_cleaned.to_excel("final_cleaned_output.xlsx", index=False, header=False)

print(f"Correctly removed even-positioned columns from index {start_idx} onward.")

Correctly removed even-positioned columns from index 5 onward.

In [42]:
# Load the Excel file (no header row)
df_v3 = pd.read_excel("final_cleaned_output.xlsx", header=None)

# Define how many columns there are
num_columns = df_v3.shape[1]

# Define where to start adding years (5th column = index 4)
start_col = 4
start_year = 2022

# Construct the top row: empty strings before start_col, then increasing years
top_row = [''] * start_col + [str(start_year + i) for i in range(num_columns - start_col)]

# Create a DataFrame from the row
top_row_df = pd.DataFrame([top_row], columns=df_v3.columns)

# Concatenate the row and original data
df_with_years = pd.concat([top_row_df, df_v3], ignore_index=True)

# Save the result
df_with_years.to_excel("with_year_row.xlsx", index=False, header=False)

print("‚úÖ Added a row of years at the top. Saved as 'with_year_row.xlsx'.")

‚úÖ Added a row of years at the top. Saved as 'with_year_row.xlsx'.

In [45]:
# Load your Excel file (with year header at the top)
df_age = pd.read_excel("with_year_row.xlsx", header=None)

# Separate the year header row
year_header = df_age.iloc[[0]]
data = df_age.iloc[1:].copy().reset_index(drop=True)

age_col = 3        # 4th column (0-based)
start_data_col = 4 # from 5th column onward

# Labels
block_start_age = "unter 1 Jahr"
block_end_age = "100 Jahre und mehr"

start_age_90 = "90-J√§hrige"
end_age_100 = "100 Jahre und mehr"
insert_after_age = "89-J√§hrige"

# Find block boundaries (start and end indices)
block_starts = data.index[data[age_col] == block_start_age].tolist()
block_ends = data.index[data[age_col] == block_end_age].tolist()

assert len(block_starts) == len(block_ends), "Mismatch in block starts and ends"

result_blocks = []

for start_idx, end_idx in zip(block_starts, block_ends):
    block = data.loc[start_idx:end_idx].copy().reset_index(drop=True)
    
    # Find positions of start_age_90 and end_age_100 inside block
    try:
        idx_start_90 = block[block[age_col] == start_age_90].index[0]
    except IndexError:
        # No 90 age found in this block, just keep block as is
        result_blocks.append(block)
        continue

    try:
        idx_end_100 = block[block[age_col] == end_age_100].index[0]
    except IndexError:
        # No 100 age found, use last row as end
        idx_end_100 = block.index[-1]

    # Rows to sum = from idx_start_90 to idx_end_100 inclusive
    rows_to_sum = block.loc[idx_start_90:idx_end_100, start_data_col:]
    summed_vals = rows_to_sum.apply(pd.to_numeric, errors='coerce').sum()

    # Create new row
    new_row = [''] * age_col + ["90 Jahre und mehr"] + summed_vals.tolist()

    # Drop the old 90+ rows
    block_cleaned = block.drop(index=range(idx_start_90, idx_end_100+1)).reset_index(drop=True)

    # Find insert position (after '89-J√§hrige')
    try:
        insert_pos = block_cleaned[block_cleaned[age_col] == insert_after_age].index[0] + 1
    except IndexError:
        # If no '89-J√§hrige' found, append at end
        insert_pos = len(block_cleaned)

    # Insert new row
    block_with_new_row = pd.concat([
        block_cleaned.iloc[:insert_pos],
        pd.DataFrame([new_row], columns=block.columns),
        block_cleaned.iloc[insert_pos:]
    ]).reset_index(drop=True)

    result_blocks.append(block_with_new_row)

# Combine all blocks back
final_data = pd.concat(result_blocks, ignore_index=True)

# Add year header row back
final_df = pd.concat([year_header, final_data], ignore_index=True)

# Save result
final_df.to_excel("final_with_correct_summed_90plus_per_block.xlsx", index=False, header=False)

print("‚úÖ Processed blocks: summed 90+ ages, inserted new row, removed originals correctly.")

‚úÖ Processed blocks: summed 90+ ages, inserted new row, removed originals correctly.

In [47]:
df_final = pd.read_excel("final_with_correct_summed_90plus_per_block.xlsx", header=None)

# Extract header
year_header = df_final.iloc[[0]]
data = df_final.iloc[1:].copy().reset_index(drop=True)

# Config
age_col = 3        # Column D (0-based)
data_start_col = 4 # Column E onwards

# Age markers
start_age = "unter 1 Jahr"
end_age = "90 Jahre und mehr"
cutoff_age = "90 Jahre und mehr"

# Find block boundaries
block_starts = data.index[data[age_col] == start_age].tolist()
block_ends = data.index[data[age_col] == end_age].tolist()

assert len(block_starts) == len(block_ends), "Mismatch in age block boundaries!"

new_blocks = []

for start_idx, end_idx in zip(block_starts, block_ends):
    block = data.loc[start_idx:end_idx].copy().reset_index(drop=True)

    try:
        idx_cutoff = block[block[age_col] == cutoff_age].index[0]
    except IndexError:
        print(f"‚ö†Ô∏è Skipping block without cutoff age: {cutoff_age}")
        new_blocks.append(block)
        continue

    # Sum from "unter 1 Jahr" to "90 Jahre und mehr" inclusive
    rows_to_sum = block.loc[0:idx_cutoff, data_start_col:]
    summed_values = rows_to_sum.apply(pd.to_numeric, errors='coerce').sum()

    # Build new row
    new_row = [''] * age_col + ["Insgesamt"] + summed_values.tolist()

    # Insert after "90 Jahre und mehr"
    insert_pos = idx_cutoff + 1
    block_with_sum = pd.concat([
        block.iloc[:insert_pos],
        pd.DataFrame([new_row], columns=block.columns),
        block.iloc[insert_pos:]
    ]).reset_index(drop=True)

    new_blocks.append(block_with_sum)

# Combine blocks back
final_data = pd.concat(new_blocks, ignore_index=True)

# Add back the year row
final_result = pd.concat([year_header, final_data], ignore_index=True)

# Save to Excel
final_result.to_excel("final_with_insgesamt_per_block.xlsx", index=False, header=False)

print("‚úÖ Added 'Insgesamt' row after each '90 Jahre und mehr' row per block.")

‚úÖ Added 'Insgesamt' row after each '90 Jahre und mehr' row per block.